<div class="container my-5 py-5 z-depth-1">
 
  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="font-weight-bold mb-4">Subscribe</h4>

        <div class="input-group mb-4">
          <input type="email" class="form-control" placeholder="Enter your email address" aria-label="Enter your email address"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect" type="submit"
              id="button-addon2">Submit</button>
          </div>
        </div>

        <p class="font-weight-bold">Find us on <a href="#">Facebook</a> and <a href="#">Twitter</a></p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>
<mat-card>
  <mat-card-title>{{'components.account.password-forgot.title'|translate}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="forgotPasswordForm" autocomplete="off">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{'components.account.email'|translate}}</mat-label>
          <input formControlName="Email" matInput type="text">

          <mat-error *ngIf="forgotPasswordForm.get('Email').errors?.required">
            {{'components.account.error-input-required'|translate}} </mat-error>
          <mat-error
            *ngIf="forgotPasswordForm.get('Email').errors?.minlength || forgotPasswordForm.get('Email').errors?.maxlength">
            {{'components.account.error-input-Email-length'|translate}}</mat-error>
        </mat-form-field>
      </p>

      <div class="button">
        <button mat-raised-button color="primary" type="submit"
                >{{'common.confirm'|translate}}</button>
                <!-- (click)="onSubmit()" -->
      </div>
    </form>
  </mat-card-content>
</mat-card>
