<div>
  <form
    [formGroup]="addLocationForm"
    (ngSubmit)="onSubmit()"
    class="text-center border border-light p-5"
  >
    <p class="h4 mb-4">Add new book</p>

    <div class="form-row mb-4">
      <div class="col">
        <!-- Book title -->
        <input
          formControlName="city"
          type="text"
          class="form-control"
          placeholder="City"
          required
        />
      </div>

      <div class="col">
        <input
          formControlName="street"
          type="text"
          class="form-control"
          placeholder="Street"
          required
        />
      </div>
    </div>
    <!-- Add book button -->
    <button
      class="btn btn-info"
      type="submit"
      [disabled]="addLocationForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
