<!-- <div class="container" *ngIf="page">
    <button (click)="pageChange.emit(page.previous)" [disabled]="!page.previous">&lsaquo;</button>
    <span>
      {{ page.count }} results
    </span>
    <button (click)="pageChange.emit(page.next)" [disabled]="!page.next">&rsaquo;</button>
  </div> -->

  <nav aria-label="Page navigation example ">
    <ul class="pagination pg-blue justify-content-center mt-2 mb-0 p-0">

      <li class="page-item"  [ngClass]="{disabled: current == 1}">
            <a class="page-link" (click)="selectPage(current-1)">Previous</a>
      </li>

      <ng-container *ngFor="let page of pageList let i = index">
        <li class="page-item" [ngClass]="{active: page == current}">
          <a class="page-link" (click)="selectPage(page)">{{page}}</a>
        </li>
      </ng-container>

      <li class="page-item" [ngClass]="{disabled: current == total}">
        <a class="page-link" (click)="selectPage(current+1)">Next</a>
      </li>
      
    </ul>
  </nav>
