<nav class="blue-gradient navbar navbar-expand-lg navbar-dark indigo">

  <div class="container">

    <a class="navbar-brand md-tabs nav-justified py-0" routerLink=""><i class="fas white-text fa-book"> Bookcrossing</i></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="basicExampleNav">


      <ul class="navbar-nav mr-auto text-uppercase">

        <!--add new links here  -->
          <li class="nav-item">
            <a class="nav-link" routerLink="">{{'common.home' | translate}}</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" routerLink="demo">{{'common.routes' | translate}}</a>
          </li>

      </ul>
      <div class="form-inline ml-auto pr-3">
        <div class="md-form my-0 ">
          
          <ng-template [ngIf]="searchTerm?.length > 0">
            <i class="fas red-text fa-times pr-2" (click)="resertSearch()" aria-hidden="true"></i>
          </ng-template>          
          <input class="form-control text-white" type="text" placeholder="Search" aria-label="Search"
          [(ngModel)]="searchTerm" (keyup.enter)="navigateToBooks(searchTerm)">
          <i class="fas fa-search text-white ml-3" aria-hidden="true" (click)="navigateToBooks(searchTerm)"></i>
        </div>
      </div>

      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="" class="rounded-circle z-depth-0"
            alt="avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
          aria-labelledby="navbarDropdownMenuLink-55">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>


    </div>

    <!-- <button class="btn blue-gradient" mat-button [matMenuTriggerFor]="menu">
      {{'common.language' | translate}}
      <mat-icon>translate</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="changeLang(languages[0])" mat-menu-item>
        <span class="flag-icon flag-icon-gb"></span>
        <span>{{'common.languages.gb'|translate}}</span>
      </button>
      <button (click)="changeLang(languages[1])" mat-menu-item>
        <span class="flag-icon flag-icon-ua"></span>
        <span>{{'common.languages.ua'|translate}}</span>
      </button>
    </mat-menu> -->
    
  </div>

</nav>
