<nav class="blue-gradient navbar navbar-expand-lg navbar-dark indigo">

  <div class="container">

    <a class="navbar-brand md-tabs nav-justified py-0" routerLink=""><i class="fas white-text fa-book"></i> Bookcrossing</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="basicExampleNav">


      <ul class="navbar-nav mr-auto text-uppercase">

        <!--add new links here  -->
          <li class="nav-item">
            <a class="nav-link" routerLink="">{{'common.home' | translate}}</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" routerLink="demo">{{'common.routes' | translate}}</a>
          </li>

      </ul>




    </div>
    
  </div>

</nav>
