.padding-30px {
  padding: 30px;
}
html,

body {

height: 100%;

position: relative;

}




app-root {

min-height: 100%;

display: block;

position: relative;

padding-bottom: 56px; 

}

footer {

position: absolute;

bottom: 0;

width: 100%;

}