<div class="container my-5">
    <section>
      <div class="row">
        <div class="col">
          <div class="card card-list">
            <div class="card-header white d-flex align-items-center py-3">
              <p class="h5-responsive font-weight-bold mb-0 mr-2">Authors</p>
  
              <!-- header search -->
              <div class="col">
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    aria-label="Search"
                    [(ngModel)]="searchField"
                  />
                  <div class="input-group-append">
                    <button class="input-group-text btn-light">
                      <i class="fas fa-search text-grey" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Table -->
            <div class="card-body">
              <table class="my-custom-scrollbar table-wrapper-scroll-y table  mb-0 table-hover ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Middlename</th>
                    <th  scope="col">Lastname</th>
                  </tr>
                </thead>
  
                <tbody>
                  <ng-container
                    *ngFor="
                      let author of authors |contentFilter:searchField:['firstName', 'middleName', 'lastName'];let i = index "
                  >
                    <tr (click)="onSelectRow(author)">
                      <th scope="row">
                        <a class="text-primary">{{ i }}</a>
                      </th>
                      <td >{{ author.firstName }}</td>
                      <td >{{ author.middleName }}</td>
                      <td>{{ author.lastName }}</td>
                     </tr
                  ></ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  